@media screen and (min-width: 200px) and (max-width: 992px){
    .background-logo{
        width: 100%;
    }

    main > p{
        visibility: hidden;
    }

    .footer-wrapper{
        justify-content: center;
    }
    
    .footer-credits{
        justify-content: right;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1920px){
    main > p{
        font-size: 1.2em;
    }

    .footer-wrapper{
        font-size: 1.3em;
    }

    .footer-credits{
        font-size: 0.7em;
    }
}