@media screen and (min-width: 100px) and (max-width: 299px){
    .main{
        overflow: scroll;
    }

    .main-wrapper{
        height: 100vh;
    }

    .main-wrapper > .main-background{
        width: 100%;
        height: 100%;
    }

    .main-wrapper > .main-background > .background-logo{
        width: 98%;
    }

    .main > .main-wrapper > .main-background > .background-paragraph{
        display: none;
    }

    .main-footer > .footer-links > .link{
        font-size: 1.15em;
    }
}



@media screen and (min-width: 300px) and (max-width: 992px){
    .main{
        overflow: scroll;
    }

    .main-wrapper{
        height: 100vh;
    }

    .main-wrapper > .main-background{
        width: 100%;
        height: 100%;
    }

    .main-wrapper > .main-background > .background-logo{
        width: 98%;
    }

    .main > .main-wrapper > .main-background > .background-paragraph{
        display: none;
    }

    .main-footer{
        justify-content: center;
        align-items: center;
    }

    .main-footer > .footer-links > .link{
        font-size: 1.25em;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1920px){
    .main-wrapper > .main-background > .background-paragraph{
        font-size: 1.2em;
        padding-right: 50px;
    }

    .main-footer > .footer-links > .link{
        font-size: 1.5em;
    }

    .main-footer > .footer-credits {
        font-size: 0.65em;
    }
}